body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../个人资料_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../个人资料_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:11px;
    top:11px;
    width:479px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../个人资料_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:45px;
    width:480px;
    height:70px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u5 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:201px;
    top:64px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:19px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_text_sketch {
    font-family: '微软雅黑';
}

.u8 {
    position:absolute;
    left:418px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_text_sketch {
    font-family: '微软雅黑';
}

.u9_normal {
    background-image: url('../个人资料_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:19px;
    top:140px;
    width:458px;
    height:120px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:464px;
    height:126px;
}

.u10 {
    position:absolute;
    left:2px;
    top:52px;
    width:454px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:34px;
    top:170px;
    width:45px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:105px;
    top:153px;
    width:360px;
    height:55px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_text_sketch {
    font-family: '微软雅黑';
}

.u13_normal {
    background-image: url('../个人资料_files/u0_normal.png');
}

.u13_container {
    position:absolute;
    left:520px;
    top:11px;
    width:480px;
    height:800px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u14 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../个人资料_files/u2_normal.png');
}

.u15_container {
    position:absolute;
    left:521px;
    top:12px;
    width:479px;
    height:35px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../个人资料_files/u4_normal.png');
}

.u17_container {
    position:absolute;
    left:520px;
    top:46px;
    width:480px;
    height:70px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u18 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:711px;
    top:65px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:529px;
    top:61px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_text_sketch {
    font-family: '微软雅黑';
}

.u21 {
    position:absolute;
    left:928px;
    top:61px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_text_sketch {
    font-family: '微软雅黑';
}

.u22_normal {
    background-image: url('../个人资料_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:529px;
    top:141px;
    width:458px;
    height:160px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:464px;
    height:166px;
}

.u23 {
    position:absolute;
    left:2px;
    top:72px;
    width:454px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:102px;
    top:224px;
    width:198px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:33px;
    top:223px;
    width:45px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../个人资料_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:433px;
    top:223px;
    width:30px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u27 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../个人资料_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:946px;
    top:215px;
    width:30px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u29 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:610px;
    top:263px;
    width:238px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:874px;
    top:251px;
    width:100px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31_text_sketch {
    font-family: '微软雅黑';
}

.u32_normal {
    background-image: url('../个人资料_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:19px;
    top:280px;
    width:458px;
    height:200px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:464px;
    height:206px;
}

.u33 {
    position:absolute;
    left:2px;
    top:92px;
    width:454px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:34px;
    top:296px;
    width:45px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../个人资料_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:458px;
    height:3px;
}

.u35 {
    position:absolute;
    left:19px;
    top:322px;
    width:458px;
    height:10px;
    
}

.u36 {
    position:absolute;
    left:34px;
    top:342px;
    width:419px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:542px;
    top:170px;
    width:45px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:614px;
    top:153px;
    width:360px;
    height:55px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38_text_sketch {
    font-family: '微软雅黑';
}

.u39 {
    position:absolute;
    left:541px;
    top:223px;
    width:45px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:610px;
    top:223px;
    width:198px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../个人资料_files/u32_normal.png');
}

.u41_container {
    position:absolute;
    left:529px;
    top:319px;
    width:458px;
    height:200px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:464px;
    height:206px;
}

.u42 {
    position:absolute;
    left:2px;
    top:92px;
    width:454px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:544px;
    top:335px;
    width:45px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_line {
    background-image: url('../个人资料_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:0px;
    top:4px;
    width:458px;
    height:3px;
}

.u44 {
    position:absolute;
    left:529px;
    top:361px;
    width:458px;
    height:10px;
    
}

.u45 {
    position:absolute;
    left:544px;
    top:381px;
    width:419px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

