body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../个人主页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../个人主页_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:11px;
    top:11px;
    width:479px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../个人主页_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:45px;
    width:480px;
    height:70px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u5 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:201px;
    top:64px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:19px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_text_sketch {
    font-family: '微软雅黑';
}

.u8_normal {
    background-image: url('../个人主页_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:115px;
    width:480px;
    height:200px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:206px;
}

.u9 {
    position:absolute;
    left:2px;
    top:92px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../个人主页_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:199px;
    top:140px;
    width:100px;
    height:100px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u11 {
    position:absolute;
    left:2px;
    top:33px;
    width:96px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:174px;
    top:256px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:10px;
    top:315px;
    width:485px;
    height:65px
}

.u14_normal {
    background-image: url('../个人主页_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:60px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:66px;
}

.u15 {
    position:absolute;
    left:2px;
    top:20px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../个人主页_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:160px;
    top:0px;
    width:160px;
    height:60px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:66px;
}

.u17 {
    position:absolute;
    left:2px;
    top:20px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../个人主页_files/u16_normal.png');
}

.u18_container {
    position:absolute;
    left:320px;
    top:0px;
    width:160px;
    height:60px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:66px;
}

.u19 {
    position:absolute;
    left:2px;
    top:20px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../个人主页_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:20px;
    top:385px;
    width:150px;
    height:150px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u21 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:180px;
    top:389px;
    width:300px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:186px;
    top:462px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:186px;
    top:487px;
    width:278px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:186px;
    top:514px;
    width:254px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:183px;
    top:432px;
    width:278px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../个人主页_files/u0_normal.png');
}

.u27_container {
    position:absolute;
    left:510px;
    top:11px;
    width:480px;
    height:800px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u28 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../个人主页_files/u2_normal.png');
}

.u29_container {
    position:absolute;
    left:511px;
    top:12px;
    width:479px;
    height:35px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u30 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../个人主页_files/u4_normal.png');
}

.u31_container {
    position:absolute;
    left:510px;
    top:46px;
    width:480px;
    height:70px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u32 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:701px;
    top:65px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:519px;
    top:61px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34_text_sketch {
    font-family: '微软雅黑';
}

.u35_normal {
    background-image: url('../个人主页_files/u8_normal.png');
}

.u35_container {
    position:absolute;
    left:510px;
    top:116px;
    width:480px;
    height:200px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:206px;
}

.u36 {
    position:absolute;
    left:2px;
    top:92px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../个人主页_files/u10_normal.png');
}

.u37_container {
    position:absolute;
    left:699px;
    top:141px;
    width:100px;
    height:100px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u38 {
    position:absolute;
    left:2px;
    top:33px;
    width:96px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:674px;
    top:257px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u40 {
    position:absolute;
    left:510px;
    top:316px;
    width:485px;
    height:65px
}

.u41_normal {
    background-image: url('../个人主页_files/u14_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:60px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:66px;
}

.u42 {
    position:absolute;
    left:2px;
    top:20px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../个人主页_files/u16_normal.png');
}

.u43_container {
    position:absolute;
    left:160px;
    top:0px;
    width:160px;
    height:60px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:66px;
}

.u44 {
    position:absolute;
    left:2px;
    top:20px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../个人主页_files/u16_normal.png');
}

.u45_container {
    position:absolute;
    left:320px;
    top:0px;
    width:160px;
    height:60px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:66px;
}

.u46 {
    position:absolute;
    left:2px;
    top:20px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../个人主页_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:641px;
    top:418px;
    width:64px;
    height:64px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u48 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:719px;
    top:448px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_line {
    background-image: url('../个人主页_files/u50_line.png');
}

.u50_line {
    position:absolute;
    left:0px;
    top:4px;
    width:479px;
    height:3px;
}

.u50 {
    position:absolute;
    left:11px;
    top:545px;
    width:479px;
    height:10px;
    
}

.u51_normal {
    background-image: url('../个人主页_files/u20_normal.png');
}

.u51_container {
    position:absolute;
    left:20px;
    top:565px;
    width:150px;
    height:150px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u52 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:183px;
    top:570px;
    width:297px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:181px;
    top:615px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../个人主页_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:184px;
    top:665px;
    width:296px;
    height:50px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:56px;
}

.u56 {
    position:absolute;
    left:2px;
    top:16px;
    width:292px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

