body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../获得的商品_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../获得的商品_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:11px;
    top:11px;
    width:479px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../获得的商品_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:45px;
    width:480px;
    height:70px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u5 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:191px;
    top:64px;
    width:154px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:20px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_text_sketch {
    font-family: '微软雅黑';
}

.u8_normal {
    background-image: url('../获得的商品_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:20px;
    top:130px;
    width:150px;
    height:150px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u9 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:186px;
    top:129px;
    width:290px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:186px;
    top:198px;
    width:278px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:186px;
    top:219px;
    width:254px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../获得的商品_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:450px;
    top:186px;
    width:30px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../获得的商品_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:4px;
    width:479px;
    height:3px;
}

.u15 {
    position:absolute;
    left:10px;
    top:290px;
    width:479px;
    height:10px;
    
}

.u16_normal {
    background-image: url('../获得的商品_files/u0_normal.png');
}

.u16_container {
    position:absolute;
    left:510px;
    top:11px;
    width:480px;
    height:800px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u17 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../获得的商品_files/u2_normal.png');
}

.u18_container {
    position:absolute;
    left:511px;
    top:12px;
    width:479px;
    height:35px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u19 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../获得的商品_files/u4_normal.png');
}

.u20_container {
    position:absolute;
    left:510px;
    top:46px;
    width:480px;
    height:70px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u21 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:690px;
    top:65px;
    width:154px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:520px;
    top:61px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_text_sketch {
    font-family: '微软雅黑';
}

.u24_normal {
    background-image: url('../获得的商品_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:636px;
    top:146px;
    width:64px;
    height:64px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u25 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:714px;
    top:176px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:333px;
    top:240px;
    width:120px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_text_sketch {
    font-family: '微软雅黑';
}

.u28 {
    position:absolute;
    left:185px;
    top:172px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../获得的商品_files/u8_normal.png');
}

.u29_container {
    position:absolute;
    left:20px;
    top:310px;
    width:150px;
    height:150px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u30 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:186px;
    top:378px;
    width:278px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:186px;
    top:399px;
    width:254px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../获得的商品_files/u13_normal.png');
}

.u33_container {
    position:absolute;
    left:450px;
    top:366px;
    width:30px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u34 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:332px;
    top:420px;
    width:120px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35_text_sketch {
    font-family: '微软雅黑';
}

.u36 {
    position:absolute;
    left:187px;
    top:309px;
    width:290px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:186px;
    top:352px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

