body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../晒单详情_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:9px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../晒单详情_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:45px;
    width:480px;
    height:70px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u3 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:22px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_text_sketch {
    font-family: '微软雅黑';
}

.u5 {
    position:absolute;
    left:202px;
    top:66px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../晒单详情_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:11px;
    top:11px;
    width:479px;
    height:35px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../晒单详情_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:22px;
    top:126px;
    width:120px;
    height:120px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:126px;
}

.u9 {
    position:absolute;
    left:2px;
    top:43px;
    width:116px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:160px;
    top:131px;
    width:260px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:160px;
    top:162px;
    width:260px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:160px;
    top:193px;
    width:260px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:160px;
    top:224px;
    width:260px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_line {
    background-image: url('../晒单详情_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:480px;
    height:3px;
}

.u14 {
    position:absolute;
    left:10px;
    top:256px;
    width:480px;
    height:10px;
    
}

.u15 {
    position:absolute;
    left:22px;
    top:276px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:22px;
    top:310px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:22px;
    top:340px;
    width:457px;
    height:126px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../晒单详情_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:22px;
    top:481px;
    width:457px;
    height:258px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:264px;
}

.u19 {
    position:absolute;
    left:2px;
    top:112px;
    width:453px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../晒单详情_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:10px;
    top:739px;
    width:480px;
    height:70px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u21 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:22px;
    top:749px;
    width:368px;
    height:51px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22_text_sketch {
    font-family: '微软雅黑';
}

.u23 {
    position:absolute;
    left:404px;
    top:749px;
    width:75px;
    height:51px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_text_sketch {
    font-family: '微软雅黑';
}

.u24_normal {
    background-image: url('../晒单详情_files/u0_normal.png');
}

.u24_container {
    position:absolute;
    left:510px;
    top:11px;
    width:480px;
    height:800px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u25 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../晒单详情_files/u2_normal.png');
}

.u26_container {
    position:absolute;
    left:510px;
    top:47px;
    width:480px;
    height:70px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u27 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:522px;
    top:62px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28_text_sketch {
    font-family: '微软雅黑';
}

.u29 {
    position:absolute;
    left:702px;
    top:68px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../晒单详情_files/u6_normal.png');
}

.u30_container {
    position:absolute;
    left:511px;
    top:13px;
    width:479px;
    height:35px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u31 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../晒单详情_files/u20_normal.png');
}

.u32_container {
    position:absolute;
    left:510px;
    top:741px;
    width:480px;
    height:70px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u33 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:522px;
    top:751px;
    width:368px;
    height:51px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34_text_sketch {
    font-family: '微软雅黑';
}

.u35 {
    position:absolute;
    left:904px;
    top:751px;
    width:75px;
    height:51px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35_text_sketch {
    font-family: '微软雅黑';
}

.u36_normal {
    background-image: url('../晒单详情_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:522px;
    top:549px;
    width:457px;
    height:180px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:186px;
}

.u37 {
    position:absolute;
    left:2px;
    top:82px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../晒单详情_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:522px;
    top:549px;
    width:457px;
    height:70px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:76px;
}

.u39 {
    position:absolute;
    left:2px;
    top:27px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../晒单详情_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:536px;
    top:568px;
    width:30px;
    height:30px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u41 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:575px;
    top:575px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../晒单详情_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:696px;
    top:560px;
    width:270px;
    height:50px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:56px;
}

.u44 {
    position:absolute;
    left:2px;
    top:17px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../晒单详情_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:781px;
    top:564px;
    width:40px;
    height:40px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u46 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:823px;
    top:576px;
    width:87px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../晒单详情_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:536px;
    top:640px;
    width:70px;
    height:70px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:76px;
}

.u49 {
    position:absolute;
    left:2px;
    top:18px;
    width:66px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:620px;
    top:638px;
    width:260px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:622px;
    top:666px;
    width:260px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:908px;
    top:638px;
    width:260px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../晒单详情_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:522px;
    top:390px;
    width:457px;
    height:146px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:152px;
}

.u54 {
    position:absolute;
    left:2px;
    top:65px;
    width:453px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../晒单详情_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:536px;
    top:403px;
    width:135px;
    height:120px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:126px;
}

.u56 {
    position:absolute;
    left:2px;
    top:43px;
    width:131px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../晒单详情_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:536px;
    top:498px;
    width:135px;
    height:25px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:31px;
}

.u58 {
    position:absolute;
    left:2px;
    top:4px;
    width:131px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:691px;
    top:403px;
    width:259px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:689px;
    top:456px;
    width:159px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../晒单详情_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:949px;
    top:456px;
    width:30px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u62 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../晒单详情_files/u18_normal.png');
}

.u63_container {
    position:absolute;
    left:522px;
    top:117px;
    width:457px;
    height:258px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:463px;
    height:264px;
}

.u64 {
    position:absolute;
    left:2px;
    top:112px;
    width:453px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:419px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65_text_sketch {
    font-family: '微软雅黑';
}

.u66 {
    position:absolute;
    left:919px;
    top:62px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66_text_sketch {
    font-family: '微软雅黑';
}

