body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../商品详情（售罄）_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../商品详情（售罄）_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:11px;
    top:11px;
    width:479px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../商品详情（售罄）_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:45px;
    width:480px;
    height:70px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u5 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:200px;
    top:66px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u7 {
    position:absolute;
    left:10px;
    top:115px;
    width:485px;
    height:70px
}

.u8_normal {
    background-image: url('../商品详情（售罄）_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:65px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:71px;
}

.u9 {
    position:absolute;
    left:2px;
    top:22px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../商品详情（售罄）_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:65px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:71px;
}

.u11 {
    position:absolute;
    left:2px;
    top:20px;
    width:76px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../商品详情（售罄）_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:65px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:71px;
}

.u13 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../商品详情（售罄）_files/u10_normal.png');
}

.u14_container {
    position:absolute;
    left:320px;
    top:0px;
    width:80px;
    height:65px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:71px;
}

.u15 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../商品详情（售罄）_files/u10_normal.png');
}

.u16_container {
    position:absolute;
    left:400px;
    top:0px;
    width:80px;
    height:65px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:71px;
}

.u17 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../商品详情（售罄）_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:104px;
    top:196px;
    width:290px;
    height:290px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:296px;
}

.u19 {
    position:absolute;
    left:2px;
    top:128px;
    width:286px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../商品详情（售罄）_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:425px;
    top:196px;
    width:65px;
    height:290px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:296px;
}

.u21 {
    position:absolute;
    left:2px;
    top:120px;
    width:61px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../商品详情（售罄）_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:740px;
    width:480px;
    height:70px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u23 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../商品详情（售罄）_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:427px;
    top:751px;
    width:50px;
    height:50px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u25 {
    position:absolute;
    left:2px;
    top:9px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:22px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26_text_sketch {
    font-family: '微软雅黑';
}

.u27_normal {
    background-image: url('../商品详情（售罄）_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:22px;
    top:674px;
    width:456px;
    height:50px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:462px;
    height:56px;
}

.u28 {
    position:absolute;
    left:2px;
    top:15px;
    width:452px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../商品详情（售罄）_files/u20_normal.png');
}

.u29_container {
    position:absolute;
    left:11px;
    top:196px;
    width:65px;
    height:290px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:296px;
}

.u30 {
    position:absolute;
    left:2px;
    top:120px;
    width:61px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../商品详情（售罄）_files/u27_normal.png');
}

.u31_container {
    position:absolute;
    left:22px;
    top:601px;
    width:456px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:462px;
    height:56px;
}

.u32 {
    position:absolute;
    left:2px;
    top:16px;
    width:452px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../商品详情（售罄）_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:22px;
    top:751px;
    width:388px;
    height:50px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:394px;
    height:56px;
}

.u34 {
    position:absolute;
    left:2px;
    top:13px;
    width:384px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../商品详情（售罄）_files/u0_normal.png');
}

.u35_container {
    position:absolute;
    left:508px;
    top:10px;
    width:480px;
    height:800px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u36 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../商品详情（售罄）_files/u2_normal.png');
}

.u37_container {
    position:absolute;
    left:509px;
    top:11px;
    width:479px;
    height:35px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../商品详情（售罄）_files/u4_normal.png');
}

.u39_container {
    position:absolute;
    left:508px;
    top:45px;
    width:480px;
    height:70px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u40 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:698px;
    top:66px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:520px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42_text_sketch {
    font-family: '微软雅黑';
}

.u43_normal {
    background-image: url('../商品详情（售罄）_files/u22_normal.png');
}

.u43_container {
    position:absolute;
    left:508px;
    top:740px;
    width:480px;
    height:70px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u44 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../商品详情（售罄）_files/u24_normal.png');
}

.u45_container {
    position:absolute;
    left:926px;
    top:751px;
    width:50px;
    height:50px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u46 {
    position:absolute;
    left:2px;
    top:9px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../商品详情（售罄）_files/u27_normal.png');
}

.u47_container {
    position:absolute;
    left:520px;
    top:525px;
    width:456px;
    height:50px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:462px;
    height:56px;
}

.u48 {
    position:absolute;
    left:2px;
    top:15px;
    width:452px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../商品详情（售罄）_files/u27_normal.png');
}

.u49_container {
    position:absolute;
    left:521px;
    top:460px;
    width:456px;
    height:50px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:462px;
    height:56px;
}

.u50 {
    position:absolute;
    left:2px;
    top:15px;
    width:452px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../商品详情（售罄）_files/u27_normal.png');
}

.u51_container {
    position:absolute;
    left:521px;
    top:395px;
    width:456px;
    height:50px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:462px;
    height:56px;
}

.u52 {
    position:absolute;
    left:2px;
    top:15px;
    width:452px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../商品详情（售罄）_files/u27_normal.png');
}

.u53_container {
    position:absolute;
    left:521px;
    top:327px;
    width:456px;
    height:50px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:462px;
    height:56px;
}

.u54 {
    position:absolute;
    left:2px;
    top:16px;
    width:452px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:508px;
    top:115px;
    width:485px;
    height:70px
}

.u56_normal {
    background-image: url('../商品详情（售罄）_files/u8_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:65px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:71px;
}

.u57 {
    position:absolute;
    left:2px;
    top:22px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../商品详情（售罄）_files/u10_normal.png');
}

.u58_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:65px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:71px;
}

.u59 {
    position:absolute;
    left:2px;
    top:20px;
    width:76px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../商品详情（售罄）_files/u10_normal.png');
}

.u60_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:65px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:71px;
}

.u61 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../商品详情（售罄）_files/u10_normal.png');
}

.u62_container {
    position:absolute;
    left:320px;
    top:0px;
    width:80px;
    height:65px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:71px;
}

.u63 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../商品详情（售罄）_files/u10_normal.png');
}

.u64_container {
    position:absolute;
    left:400px;
    top:0px;
    width:80px;
    height:65px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:71px;
}

.u65 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../商品详情（售罄）_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:958px;
    top:751px;
    width:20px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../商品详情（售罄）_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:520px;
    top:590px;
    width:455px;
    height:140px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:461px;
    height:146px;
}

.u69 {
    position:absolute;
    left:2px;
    top:62px;
    width:451px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../商品详情（售罄）_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:532px;
    top:600px;
    width:120px;
    height:120px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:126px;
}

.u71 {
    position:absolute;
    left:2px;
    top:43px;
    width:116px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:670px;
    top:600px;
    width:260px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:670px;
    top:675px;
    width:260px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:670px;
    top:699px;
    width:260px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:670px;
    top:650px;
    width:260px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../商品详情（售罄）_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:532px;
    top:695px;
    width:120px;
    height:25px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:31px;
}

.u77 {
    position:absolute;
    left:2px;
    top:4px;
    width:116px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:670px;
    top:627px;
    width:260px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../商品详情（售罄）_files/u33_normal.png');
}

.u79_container {
    position:absolute;
    left:520px;
    top:750px;
    width:388px;
    height:50px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:394px;
    height:56px;
}

.u80 {
    position:absolute;
    left:2px;
    top:13px;
    width:384px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:22px;
    top:514px;
    width:455px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:26px;
    top:566px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:520px;
    top:238px;
    width:455px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:524px;
    top:290px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

