body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:189px;
    top:66px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:22px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1_text_sketch {
    font-family: '微软雅黑';
}

.u2_normal {
    background-image: url('../杂_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:570px;
    top:40px;
    width:220px;
    height:120px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:126px;
}

.u3 {
    position:absolute;
    left:2px;
    top:52px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../杂_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:604px;
    top:71px;
    width:58px;
    height:58px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:58px;
}

.u5 {
    position:absolute;
    left:2px;
    top:21px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:679px;
    top:92px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../杂_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:360px;
    top:185px;
    width:480px;
    height:765px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:771px;
}

.u8 {
    position:absolute;
    left:2px;
    top:374px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../杂_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:451px;
    top:500px;
    width:300px;
    height:120px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:126px;
}

.u10 {
    position:absolute;
    left:2px;
    top:52px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../杂_files/u4_normal.png');
}

.u11_container {
    position:absolute;
    left:489px;
    top:531px;
    width:58px;
    height:58px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:58px;
}

.u12 {
    position:absolute;
    left:2px;
    top:21px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:564px;
    top:552px;
    width:180px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../杂_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:382px;
    top:55px;
    width:150px;
    height:55px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:61px;
}

.u15 {
    position:absolute;
    left:2px;
    top:16px;
    width:146px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../杂_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:56px;
    top:250px;
    width:64px;
    height:64px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u17 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../杂_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:70px;
    top:370px;
    width:64px;
    height:64px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u19 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../杂_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:189px;
    top:260px;
    width:64px;
    height:64px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u21 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../杂_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:189px;
    top:370px;
    width:64px;
    height:64px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u23 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../杂_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:56px;
    top:486px;
    width:64px;
    height:64px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u25 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../杂_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:140px;
    top:466px;
    width:64px;
    height:64px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u27 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../杂_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:60px;
    top:566px;
    width:64px;
    height:64px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u29 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../杂_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:206px;
    top:576px;
    width:64px;
    height:64px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u31 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../杂_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:56px;
    top:656px;
    width:64px;
    height:64px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u33 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../杂_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:156px;
    top:656px;
    width:64px;
    height:64px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u35 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../杂_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:60px;
    top:170px;
    width:64px;
    height:64px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u37 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../杂_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:166px;
    top:170px;
    width:64px;
    height:64px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u39 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../杂_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:266px;
    top:170px;
    width:64px;
    height:64px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u41 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../杂_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:266px;
    top:290px;
    width:64px;
    height:64px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u43 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../杂_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:226px;
    top:434px;
    width:64px;
    height:64px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u45 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../杂_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:142px;
    top:540px;
    width:64px;
    height:64px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u47 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../杂_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:250px;
    top:508px;
    width:64px;
    height:64px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u49 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../杂_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:22px;
    top:330px;
    width:64px;
    height:64px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u51 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../杂_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:20px;
    top:434px;
    width:64px;
    height:64px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u53 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../杂_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:720px;
    width:64px;
    height:64px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u55 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../杂_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:106px;
    top:730px;
    width:64px;
    height:64px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u57 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../杂_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:226px;
    top:730px;
    width:64px;
    height:64px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u59 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../杂_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:115px;
    top:412px;
    width:64px;
    height:64px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u61 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../杂_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:230px;
    top:640px;
    width:64px;
    height:64px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u63 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../杂_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:10px;
    top:200px;
    width:64px;
    height:64px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u65 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../杂_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:134px;
    top:306px;
    width:64px;
    height:64px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u67 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../杂_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:124px;
    top:106px;
    width:64px;
    height:64px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u69 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../杂_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:18px;
    top:110px;
    width:64px;
    height:64px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u71 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../杂_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:876px;
    top:92px;
    width:64px;
    height:64px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u73 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../杂_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:908px;
    top:202px;
    width:32px;
    height:32px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u75 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../杂_files/u4_normal.png');
}

.u76_container {
    position:absolute;
    left:920px;
    top:290px;
    width:58px;
    height:58px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:58px;
}

.u77 {
    position:absolute;
    left:2px;
    top:21px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../杂_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:920px;
    top:386px;
    width:64px;
    height:64px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u79 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../杂_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:860px;
    top:498px;
    width:320px;
    height:200px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:200px;
}

.u81 {
    position:absolute;
    left:2px;
    top:92px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../杂_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:310px;
    top:110px;
    width:50px;
    height:50px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u83 {
    position:absolute;
    left:2px;
    top:9px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../杂_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:344px;
    top:104px;
    width:20px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../杂_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:22px;
    top:1175px;
    width:200px;
    height:200px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:206px;
}

.u87 {
    position:absolute;
    left:2px;
    top:83px;
    width:196px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../杂_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:121px;
    top:1349px;
    width:100px;
    height:25px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u89 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../杂_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:22px;
    top:1390px;
    width:200px;
    height:50px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u91 {
    position:absolute;
    left:2px;
    top:16px;
    width:196px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../杂_files/u88_normal.png');
}

.u92_container {
    position:absolute;
    left:130px;
    top:20px;
    width:100px;
    height:25px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u93 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_line {
    background-image: url('../杂_files/u94_line.png');
}

.u94_line {
    position:absolute;
    left:0px;
    top:4px;
    width:480px;
    height:3px;
}

.u94 {
    position:absolute;
    left:800px;
    top:17px;
    width:480px;
    height:10px;
    
}

.u95_normal {
    background-image: url('../杂_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:980px;
    top:40px;
    width:30px;
    height:30px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u96 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:1020px;
    top:45px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../杂_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:860px;
    top:720px;
    width:400px;
    height:200px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:206px;
}

.u99 {
    position:absolute;
    left:2px;
    top:92px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_line {
    background-image: url('../杂_files/u100_line.png');
}

.u100_line {
    position:absolute;
    left:0px;
    top:4px;
    width:395px;
    height:3px;
}

.u100 {
    position:absolute;
    left:864px;
    top:840px;
    width:395px;
    height:10px;
    
}

.u101 {
    position:absolute;
    left:918px;
    top:864px;
    width:120px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u101_text_sketch {
    font-family: '微软雅黑';
}

.u102 {
    position:absolute;
    left:1086px;
    top:864px;
    width:120px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102_text_sketch {
    font-family: '微软雅黑';
}

.u103 {
    position:absolute;
    left:1018px;
    top:770px;
    width:290px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../杂_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:590px;
    top:979px;
    width:310px;
    height:80px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:86px;
}

.u105 {
    position:absolute;
    left:2px;
    top:32px;
    width:306px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../杂_files/u104_normal.png');
}

.u106_container {
    position:absolute;
    left:237px;
    top:1175px;
    width:310px;
    height:80px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:86px;
}

.u107 {
    position:absolute;
    left:2px;
    top:32px;
    width:306px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../杂_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:22px;
    top:979px;
    width:460px;
    height:176px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:182px;
}

.u109 {
    position:absolute;
    left:2px;
    top:80px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../杂_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:32px;
    top:989px;
    width:150px;
    height:150px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u111 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../杂_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:192px;
    top:989px;
    width:60px;
    height:60px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u113 {
    position:absolute;
    left:2px;
    top:13px;
    width:56px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:262px;
    top:995px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:262px;
    top:1026px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:192px;
    top:1057px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:192px;
    top:1094px;
    width:278px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:192px;
    top:1121px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../杂_files/u119_normal.png');
}

.u119_container {
    position:absolute;
    left:458px;
    top:1061px;
    width:20px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

