body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../主菜单母版_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../主菜单母版_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:11px;
    top:11px;
    width:479px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../主菜单母版_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:45px;
    width:480px;
    height:70px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u5 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../主菜单母版_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:740px;
    width:480px;
    height:70px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u7 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u9 {
    position:absolute;
    left:10px;
    top:740px;
    width:485px;
    height:75px
}

.u10_normal {
    background-image: url('../所有商品_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:70px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:76px;
}

.u11 {
    position:absolute;
    left:2px;
    top:27px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../所有商品_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:120px;
    top:0px;
    width:120px;
    height:70px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:76px;
}

.u13 {
    position:absolute;
    left:2px;
    top:27px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../所有商品_files/u10_normal.png');
}

.u14_container {
    position:absolute;
    left:240px;
    top:0px;
    width:120px;
    height:70px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:76px;
}

.u15 {
    position:absolute;
    left:2px;
    top:27px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../所有商品_files/u10_normal.png');
}

.u16_container {
    position:absolute;
    left:360px;
    top:0px;
    width:120px;
    height:70px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:76px;
}

.u17 {
    position:absolute;
    left:2px;
    top:27px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../所有商品_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:55px;
    top:748px;
    width:30px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u19 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:56px;
    top:785px;
    width:39px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../所有商品_files/u18_normal.png');
}

.u21_container {
    position:absolute;
    left:174px;
    top:748px;
    width:30px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:162px;
    top:785px;
    width:61px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../所有商品_files/u18_normal.png');
}

.u24_container {
    position:absolute;
    left:293px;
    top:748px;
    width:30px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:288px;
    top:785px;
    width:61px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../所有商品_files/u18_normal.png');
}

.u27_container {
    position:absolute;
    left:414px;
    top:748px;
    width:30px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:416px;
    top:785px;
    width:61px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:190px;
    top:64px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:417px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31_text_sketch {
    font-family: '微软雅黑';
}

#u32 {
    position:absolute;
    left:10px;
    top:115px;
    width:485px;
    height:65px
}

.u33_normal {
    background-image: url('../所有商品_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:60px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:66px;
}

.u34 {
    position:absolute;
    left:2px;
    top:18px;
    width:116px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../所有商品_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:120px;
    top:0px;
    width:120px;
    height:60px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:66px;
}

.u36 {
    position:absolute;
    left:2px;
    top:18px;
    width:116px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../所有商品_files/u35_normal.png');
}

.u37_container {
    position:absolute;
    left:240px;
    top:0px;
    width:120px;
    height:60px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:66px;
}

.u38 {
    position:absolute;
    left:2px;
    top:18px;
    width:116px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../所有商品_files/u35_normal.png');
}

.u39_container {
    position:absolute;
    left:360px;
    top:0px;
    width:120px;
    height:60px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:66px;
}

.u40 {
    position:absolute;
    left:2px;
    top:18px;
    width:116px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../所有商品_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:331px;
    top:129px;
    width:20px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../所有商品_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:331px;
    top:143px;
    width:20px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../所有商品_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:24px;
    top:190px;
    width:453px;
    height:170px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:459px;
    height:176px;
}

.u46 {
    position:absolute;
    left:2px;
    top:77px;
    width:449px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../所有商品_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:35px;
    top:200px;
    width:150px;
    height:150px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u48 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:198px;
    top:205px;
    width:259px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:196px;
    top:252px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../所有商品_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:199px;
    top:300px;
    width:200px;
    height:50px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u52 {
    position:absolute;
    left:2px;
    top:16px;
    width:196px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../所有商品_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:414px;
    top:300px;
    width:50px;
    height:50px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u54 {
    position:absolute;
    left:2px;
    top:9px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../所有商品_files/u45_normal.png');
}

.u55_container {
    position:absolute;
    left:24px;
    top:370px;
    width:453px;
    height:170px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:459px;
    height:176px;
}

.u56 {
    position:absolute;
    left:2px;
    top:77px;
    width:449px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../所有商品_files/u47_normal.png');
}

.u57_container {
    position:absolute;
    left:35px;
    top:380px;
    width:150px;
    height:150px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u58 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:198px;
    top:385px;
    width:259px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:196px;
    top:432px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../所有商品_files/u51_normal.png');
}

.u61_container {
    position:absolute;
    left:199px;
    top:480px;
    width:200px;
    height:50px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u62 {
    position:absolute;
    left:2px;
    top:16px;
    width:196px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../所有商品_files/u53_normal.png');
}

.u63_container {
    position:absolute;
    left:414px;
    top:480px;
    width:50px;
    height:50px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u64 {
    position:absolute;
    left:2px;
    top:9px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../所有商品_files/u45_normal.png');
}

.u65_container {
    position:absolute;
    left:24px;
    top:550px;
    width:453px;
    height:170px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:459px;
    height:176px;
}

.u66 {
    position:absolute;
    left:2px;
    top:77px;
    width:449px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../所有商品_files/u47_normal.png');
}

.u67_container {
    position:absolute;
    left:35px;
    top:560px;
    width:150px;
    height:150px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u68 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:198px;
    top:565px;
    width:259px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:196px;
    top:612px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../所有商品_files/u51_normal.png');
}

.u71_container {
    position:absolute;
    left:199px;
    top:660px;
    width:200px;
    height:50px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:56px;
}

.u72 {
    position:absolute;
    left:2px;
    top:16px;
    width:196px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../所有商品_files/u53_normal.png');
}

.u73_container {
    position:absolute;
    left:414px;
    top:660px;
    width:50px;
    height:50px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u74 {
    position:absolute;
    left:2px;
    top:9px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

