body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../登录（第三方）_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:1px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../登录（第三方）_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:1px;
    top:1px;
    width:479px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../登录（第三方）_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:35px;
    width:480px;
    height:70px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u5 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:214px;
    top:54px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:22px;
    top:52px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_text_sketch {
    font-family: '微软雅黑';
}

.u8 {
    position:absolute;
    left:42px;
    top:145px;
    width:400px;
    height:75px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_text_sketch {
    font-family: '微软雅黑';
}

.u9_normal {
    background-image: url('../登录（第三方）_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:44px;
    top:150px;
    width:64px;
    height:64px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u10 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:42px;
    top:351px;
    width:400px;
    height:70px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_text_sketch {
    font-family: '微软雅黑';
}

.u12 {
    position:absolute;
    left:42px;
    top:247px;
    width:400px;
    height:75px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_text_sketch {
    font-family: '微软雅黑';
}

.u13_normal {
    background-image: url('../登录（第三方）_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:50px;
    top:252px;
    width:64px;
    height:64px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u14 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:100px;
    top:494px;
    width:299px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

