body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:11px;
    top:11px;
    width:479px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:45px;
    width:480px;
    height:70px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u5 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:178px;
    top:64px;
    width:154px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:20px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_text_sketch {
    font-family: '微软雅黑';
}

#u8 {
    position:absolute;
    left:11px;
    top:116px;
    width:483px;
    height:65px
}

.u9_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:60px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:66px;
}

.u10 {
    position:absolute;
    left:2px;
    top:20px;
    width:155px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:159px;
    top:0px;
    width:160px;
    height:60px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:66px;
}

.u12 {
    position:absolute;
    left:2px;
    top:20px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:319px;
    top:0px;
    width:159px;
    height:60px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:66px;
}

.u14 {
    position:absolute;
    left:2px;
    top:20px;
    width:155px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:20px;
    top:200px;
    width:150px;
    height:150px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u16 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:180px;
    top:204px;
    width:290px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:186px;
    top:280px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:186px;
    top:303px;
    width:278px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:186px;
    top:327px;
    width:254px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:450px;
    top:256px;
    width:30px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../我的乐拍记录-已揭晓_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:479px;
    height:3px;
}

.u23 {
    position:absolute;
    left:10px;
    top:360px;
    width:479px;
    height:10px;
    
}

.u24_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u0_normal.png');
}

.u24_container {
    position:absolute;
    left:510px;
    top:11px;
    width:480px;
    height:800px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u25 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u2_normal.png');
}

.u26_container {
    position:absolute;
    left:511px;
    top:12px;
    width:479px;
    height:35px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u27 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u4_normal.png');
}

.u28_container {
    position:absolute;
    left:510px;
    top:46px;
    width:480px;
    height:70px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u29 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:678px;
    top:65px;
    width:154px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:520px;
    top:61px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31_text_sketch {
    font-family: '微软雅黑';
}

#u32 {
    position:absolute;
    left:511px;
    top:117px;
    width:483px;
    height:65px
}

.u33_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u9_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:60px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:66px;
}

.u34 {
    position:absolute;
    left:2px;
    top:20px;
    width:155px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u11_normal.png');
}

.u35_container {
    position:absolute;
    left:159px;
    top:0px;
    width:160px;
    height:60px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:66px;
}

.u36 {
    position:absolute;
    left:2px;
    top:20px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u13_normal.png');
}

.u37_container {
    position:absolute;
    left:319px;
    top:0px;
    width:159px;
    height:60px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:66px;
}

.u38 {
    position:absolute;
    left:2px;
    top:20px;
    width:155px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:636px;
    top:216px;
    width:64px;
    height:64px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u40 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:714px;
    top:246px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:185px;
    top:249px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u15_normal.png');
}

.u43_container {
    position:absolute;
    left:20px;
    top:380px;
    width:150px;
    height:150px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u44 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:180px;
    top:384px;
    width:290px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:186px;
    top:460px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:186px;
    top:483px;
    width:278px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:186px;
    top:507px;
    width:254px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../我的乐拍记录-已揭晓_files/u21_normal.png');
}

.u49_container {
    position:absolute;
    left:450px;
    top:436px;
    width:30px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u50 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:186px;
    top:430px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

