body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../我的乐拍记录-全部_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../我的乐拍记录-全部_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:11px;
    top:11px;
    width:479px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../我的乐拍记录-全部_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:45px;
    width:480px;
    height:70px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u5 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:178px;
    top:64px;
    width:154px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:20px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_text_sketch {
    font-family: '微软雅黑';
}

#u8 {
    position:absolute;
    left:11px;
    top:116px;
    width:483px;
    height:65px
}

.u9_normal {
    background-image: url('../我的乐拍记录-全部_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:60px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:66px;
}

.u10 {
    position:absolute;
    left:2px;
    top:20px;
    width:155px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../我的乐拍记录-全部_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:159px;
    top:0px;
    width:160px;
    height:60px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:66px;
}

.u12 {
    position:absolute;
    left:2px;
    top:20px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../我的乐拍记录-全部_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:319px;
    top:0px;
    width:159px;
    height:60px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:66px;
}

.u14 {
    position:absolute;
    left:2px;
    top:20px;
    width:155px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../我的乐拍记录-全部_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:4px;
    width:479px;
    height:3px;
}

.u15 {
    position:absolute;
    left:10px;
    top:360px;
    width:479px;
    height:10px;
    
}

.u16_normal {
    background-image: url('../我的乐拍记录-全部_files/u0_normal.png');
}

.u16_container {
    position:absolute;
    left:510px;
    top:11px;
    width:480px;
    height:800px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u17 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../我的乐拍记录-全部_files/u2_normal.png');
}

.u18_container {
    position:absolute;
    left:511px;
    top:12px;
    width:479px;
    height:35px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u19 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../我的乐拍记录-全部_files/u4_normal.png');
}

.u20_container {
    position:absolute;
    left:510px;
    top:46px;
    width:480px;
    height:70px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u21 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:678px;
    top:65px;
    width:154px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:520px;
    top:61px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_text_sketch {
    font-family: '微软雅黑';
}

#u24 {
    position:absolute;
    left:511px;
    top:117px;
    width:483px;
    height:65px
}

.u25_normal {
    background-image: url('../我的乐拍记录-全部_files/u9_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:60px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:66px;
}

.u26 {
    position:absolute;
    left:2px;
    top:20px;
    width:155px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../我的乐拍记录-全部_files/u11_normal.png');
}

.u27_container {
    position:absolute;
    left:159px;
    top:0px;
    width:160px;
    height:60px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:66px;
}

.u28 {
    position:absolute;
    left:2px;
    top:20px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../我的乐拍记录-全部_files/u13_normal.png');
}

.u29_container {
    position:absolute;
    left:319px;
    top:0px;
    width:159px;
    height:60px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:66px;
}

.u30 {
    position:absolute;
    left:2px;
    top:20px;
    width:155px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../我的乐拍记录-全部_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:636px;
    top:216px;
    width:64px;
    height:64px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u32 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:714px;
    top:246px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../我的乐拍记录-全部_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:20px;
    top:201px;
    width:150px;
    height:150px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u35 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:180px;
    top:205px;
    width:290px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:186px;
    top:281px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:186px;
    top:304px;
    width:278px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:186px;
    top:328px;
    width:254px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../我的乐拍记录-全部_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:450px;
    top:257px;
    width:30px;
    height:30px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u41 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:185px;
    top:250px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../我的乐拍记录-全部_files/u34_normal.png');
}

.u43_container {
    position:absolute;
    left:20px;
    top:380px;
    width:150px;
    height:150px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u44 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:180px;
    top:384px;
    width:290px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:186px;
    top:460px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:186px;
    top:483px;
    width:278px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:186px;
    top:507px;
    width:254px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../我的乐拍记录-全部_files/u40_normal.png');
}

.u49_container {
    position:absolute;
    left:450px;
    top:436px;
    width:30px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u50 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:185px;
    top:429px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

