body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../最新揭晓（倒计时）_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../最新揭晓（倒计时）_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:11px;
    top:11px;
    width:479px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../最新揭晓（倒计时）_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:45px;
    width:480px;
    height:70px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u5 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:189px;
    top:66px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:22px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_text_sketch {
    font-family: '微软雅黑';
}

.u8_normal {
    background-image: url('../最新揭晓（倒计时）_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:22px;
    top:133px;
    width:460px;
    height:176px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:182px;
}

.u9 {
    position:absolute;
    left:2px;
    top:80px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../最新揭晓（倒计时）_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:32px;
    top:143px;
    width:150px;
    height:150px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u11 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../最新揭晓（倒计时）_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:17px;
    top:713px;
    width:464px;
    height:97px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:464px;
    height:97px;
}

.u13 {
    position:absolute;
    left:2px;
    top:40px;
    width:460px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../最新揭晓（倒计时）_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:440px;
    top:215px;
    width:30px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u15 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:198px;
    top:143px;
    width:259px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:196px;
    top:190px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../最新揭晓（倒计时）_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:192px;
    top:239px;
    width:248px;
    height:50px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:254px;
    height:56px;
}

.u19 {
    position:absolute;
    left:2px;
    top:13px;
    width:244px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../最新揭晓（倒计时）_files/u18_normal.png');
}

.u20_container {
    position:absolute;
    left:530px;
    top:239px;
    width:248px;
    height:50px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:254px;
    height:56px;
}

.u21 {
    position:absolute;
    left:2px;
    top:14px;
    width:244px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../最新揭晓（倒计时）_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:20px;
    top:522px;
    width:460px;
    height:176px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:182px;
}

.u23 {
    position:absolute;
    left:2px;
    top:80px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../最新揭晓（倒计时）_files/u10_normal.png');
}

.u24_container {
    position:absolute;
    left:30px;
    top:532px;
    width:150px;
    height:150px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u25 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../最新揭晓（倒计时）_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:190px;
    top:532px;
    width:60px;
    height:60px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u27 {
    position:absolute;
    left:2px;
    top:13px;
    width:56px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:260px;
    top:538px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:260px;
    top:569px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:190px;
    top:600px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:190px;
    top:637px;
    width:278px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:190px;
    top:664px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../最新揭晓（倒计时）_files/u22_normal.png');
}

.u33_container {
    position:absolute;
    left:20px;
    top:328px;
    width:460px;
    height:176px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:182px;
}

.u34 {
    position:absolute;
    left:2px;
    top:80px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../最新揭晓（倒计时）_files/u10_normal.png');
}

.u35_container {
    position:absolute;
    left:30px;
    top:338px;
    width:150px;
    height:150px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:156px;
}

.u36 {
    position:absolute;
    left:2px;
    top:58px;
    width:146px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../最新揭晓（倒计时）_files/u26_normal.png');
}

.u37_container {
    position:absolute;
    left:190px;
    top:338px;
    width:60px;
    height:60px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u38 {
    position:absolute;
    left:2px;
    top:13px;
    width:56px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:260px;
    top:344px;
    width:208px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:260px;
    top:375px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:190px;
    top:406px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:190px;
    top:443px;
    width:278px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:190px;
    top:470px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

