body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../我的（login）_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../我的（login）_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:11px;
    top:11px;
    width:479px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../我的（login）_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:45px;
    width:480px;
    height:70px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u5 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:201px;
    top:64px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:19px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_text_sketch {
    font-family: '微软雅黑';
}

#u8 {
    position:absolute;
    left:11px;
    top:740px;
    width:485px;
    height:75px
}

.u9_normal {
    background-image: url('../我的（login）_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:70px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:76px;
}

.u10 {
    position:absolute;
    left:2px;
    top:27px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../我的（login）_files/u9_normal.png');
}

.u11_container {
    position:absolute;
    left:120px;
    top:0px;
    width:120px;
    height:70px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:76px;
}

.u12 {
    position:absolute;
    left:2px;
    top:27px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../我的（login）_files/u9_normal.png');
}

.u13_container {
    position:absolute;
    left:240px;
    top:0px;
    width:120px;
    height:70px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:76px;
}

.u14 {
    position:absolute;
    left:2px;
    top:27px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../我的（login）_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:360px;
    top:0px;
    width:120px;
    height:70px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:76px;
}

.u16 {
    position:absolute;
    left:2px;
    top:27px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../我的（login）_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:56px;
    top:748px;
    width:30px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u18 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:57px;
    top:785px;
    width:39px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../我的（login）_files/u17_normal.png');
}

.u20_container {
    position:absolute;
    left:175px;
    top:748px;
    width:30px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:163px;
    top:785px;
    width:61px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../我的（login）_files/u17_normal.png');
}

.u23_container {
    position:absolute;
    left:294px;
    top:748px;
    width:30px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u24 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:289px;
    top:785px;
    width:61px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../我的（login）_files/u17_normal.png');
}

.u26_container {
    position:absolute;
    left:415px;
    top:748px;
    width:30px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:417px;
    top:785px;
    width:61px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../我的（login）_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:10px;
    top:115px;
    width:480px;
    height:180px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:186px;
}

.u30 {
    position:absolute;
    left:2px;
    top:82px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u31 {
    position:absolute;
    left:19px;
    top:394px;
    width:465px;
    height:185px
}

.u32_normal {
    background-image: url('../我的（login）_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:60px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:66px;
}

.u33 {
    position:absolute;
    left:2px;
    top:20px;
    width:456px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../我的（login）_files/u32_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:60px;
    width:460px;
    height:60px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:66px;
}

.u35 {
    position:absolute;
    left:2px;
    top:20px;
    width:456px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../我的（login）_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:120px;
    width:460px;
    height:60px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:66px;
}

.u37 {
    position:absolute;
    left:2px;
    top:20px;
    width:456px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u38 {
    position:absolute;
    left:19px;
    top:594px;
    width:465px;
    height:65px
}

.u39_normal {
    background-image: url('../我的（login）_files/u32_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:60px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:66px;
}

.u40 {
    position:absolute;
    left:2px;
    top:20px;
    width:456px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u41 {
    position:absolute;
    left:19px;
    top:674px;
    width:465px;
    height:65px
}

.u42_normal {
    background-image: url('../我的（login）_files/u32_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:60px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:66px;
}

.u43 {
    position:absolute;
    left:2px;
    top:20px;
    width:456px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:418px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44_text_sketch {
    font-family: '微软雅黑';
}

.u45_normal {
    background-image: url('../我的（login）_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:20px;
    top:126px;
    width:160px;
    height:160px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:166px;
}

.u46 {
    position:absolute;
    left:2px;
    top:63px;
    width:156px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:190px;
    top:201px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../我的（login）_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:139px;
    top:245px;
    width:40px;
    height:40px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u49 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:190px;
    top:231px;
    width:230px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_line {
    background-image: url('../我的（login）_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:0px;
    top:4px;
    width:480px;
    height:3px;
}

.u51 {
    position:absolute;
    left:10px;
    top:368px;
    width:480px;
    height:10px;
    
}

.u52 {
    position:absolute;
    left:30px;
    top:322px;
    width:202px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:368px;
    top:314px;
    width:100px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53_text_sketch {
    font-family: '微软雅黑';
}

.u54 {
    position:absolute;
    left:192px;
    top:265px;
    width:230px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../我的（login）_files/u0_normal.png');
}

.u55_container {
    position:absolute;
    left:510px;
    top:10px;
    width:480px;
    height:800px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u56 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../我的（login）_files/u2_normal.png');
}

.u57_container {
    position:absolute;
    left:511px;
    top:11px;
    width:479px;
    height:35px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u58 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../我的（login）_files/u4_normal.png');
}

.u59_container {
    position:absolute;
    left:510px;
    top:45px;
    width:480px;
    height:70px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u60 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:701px;
    top:64px;
    width:108px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:519px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62_text_sketch {
    font-family: '微软雅黑';
}

#u63 {
    position:absolute;
    left:511px;
    top:740px;
    width:485px;
    height:75px
}

.u64_normal {
    background-image: url('../我的（login）_files/u9_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:70px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:76px;
}

.u65 {
    position:absolute;
    left:2px;
    top:27px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../我的（login）_files/u9_normal.png');
}

.u66_container {
    position:absolute;
    left:120px;
    top:0px;
    width:120px;
    height:70px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:76px;
}

.u67 {
    position:absolute;
    left:2px;
    top:27px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../我的（login）_files/u9_normal.png');
}

.u68_container {
    position:absolute;
    left:240px;
    top:0px;
    width:120px;
    height:70px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:76px;
}

.u69 {
    position:absolute;
    left:2px;
    top:27px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../我的（login）_files/u15_normal.png');
}

.u70_container {
    position:absolute;
    left:360px;
    top:0px;
    width:120px;
    height:70px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:76px;
}

.u71 {
    position:absolute;
    left:2px;
    top:27px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../我的（login）_files/u17_normal.png');
}

.u72_container {
    position:absolute;
    left:556px;
    top:748px;
    width:30px;
    height:30px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u73 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:557px;
    top:785px;
    width:39px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../我的（login）_files/u17_normal.png');
}

.u75_container {
    position:absolute;
    left:675px;
    top:748px;
    width:30px;
    height:30px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u76 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:663px;
    top:785px;
    width:61px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../我的（login）_files/u17_normal.png');
}

.u78_container {
    position:absolute;
    left:794px;
    top:748px;
    width:30px;
    height:30px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u79 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:789px;
    top:785px;
    width:61px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../我的（login）_files/u17_normal.png');
}

.u81_container {
    position:absolute;
    left:915px;
    top:748px;
    width:30px;
    height:30px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u82 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:917px;
    top:785px;
    width:61px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../我的（login）_files/u29_normal.png');
}

.u84_container {
    position:absolute;
    left:510px;
    top:115px;
    width:480px;
    height:180px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:186px;
}

.u85 {
    position:absolute;
    left:2px;
    top:82px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u86 {
    position:absolute;
    left:519px;
    top:394px;
    width:465px;
    height:185px
}

.u87_normal {
    background-image: url('../我的（login）_files/u32_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:60px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:66px;
}

.u88 {
    position:absolute;
    left:2px;
    top:20px;
    width:456px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../我的（login）_files/u32_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:60px;
    width:460px;
    height:60px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:66px;
}

.u90 {
    position:absolute;
    left:2px;
    top:20px;
    width:456px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../我的（login）_files/u32_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:120px;
    width:460px;
    height:60px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:66px;
}

.u92 {
    position:absolute;
    left:2px;
    top:20px;
    width:456px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u93 {
    position:absolute;
    left:519px;
    top:594px;
    width:465px;
    height:65px
}

.u94_normal {
    background-image: url('../我的（login）_files/u32_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:60px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:66px;
}

.u95 {
    position:absolute;
    left:2px;
    top:20px;
    width:456px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u96 {
    position:absolute;
    left:519px;
    top:674px;
    width:465px;
    height:65px
}

.u97_normal {
    background-image: url('../我的（login）_files/u32_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:60px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:66px;
}

.u98 {
    position:absolute;
    left:2px;
    top:20px;
    width:456px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:918px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u99_text_sketch {
    font-family: '微软雅黑';
}

.u100_normal {
    background-image: url('../我的（login）_files/u45_normal.png');
}

.u100_container {
    position:absolute;
    left:520px;
    top:126px;
    width:160px;
    height:160px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:166px;
}

.u101 {
    position:absolute;
    left:2px;
    top:63px;
    width:156px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:690px;
    top:201px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../我的（login）_files/u48_normal.png');
}

.u103_container {
    position:absolute;
    left:639px;
    top:245px;
    width:40px;
    height:40px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u104 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:690px;
    top:231px;
    width:230px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_line {
    background-image: url('../我的（login）_files/u106_line.png');
}

.u106_line {
    position:absolute;
    left:0px;
    top:4px;
    width:480px;
    height:3px;
}

.u106 {
    position:absolute;
    left:510px;
    top:368px;
    width:480px;
    height:10px;
    
}

.u107 {
    position:absolute;
    left:530px;
    top:322px;
    width:202px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:868px;
    top:314px;
    width:100px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u108_text_sketch {
    font-family: '微软雅黑';
}

.u109 {
    position:absolute;
    left:692px;
    top:265px;
    width:230px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../我的（login）_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:649px;
    top:534px;
    width:20px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../我的（login）_files/u110_normal.png');
}

.u112_container {
    position:absolute;
    left:649px;
    top:476px;
    width:20px;
    height:20px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

