body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../我的晒单-已晒单_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../我的晒单-已晒单_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:11px;
    top:11px;
    width:479px;
    height:35px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../我的晒单-已晒单_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:45px;
    width:480px;
    height:70px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u5 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:202px;
    top:64px;
    width:154px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:20px;
    top:60px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_text_sketch {
    font-family: '微软雅黑';
}

#u8 {
    position:absolute;
    left:10px;
    top:115px;
    width:485px;
    height:65px
}

.u9_normal {
    background-image: url('../我的晒单-已晒单_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:60px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:66px;
}

.u10 {
    position:absolute;
    left:2px;
    top:20px;
    width:236px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../我的晒单-已晒单_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:240px;
    top:0px;
    width:240px;
    height:60px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:66px;
}

.u12 {
    position:absolute;
    left:2px;
    top:20px;
    width:236px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../我的晒单-已晒单_files/u0_normal.png');
}

.u13_container {
    position:absolute;
    left:510px;
    top:11px;
    width:480px;
    height:800px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:806px;
}

.u14 {
    position:absolute;
    left:2px;
    top:392px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../我的晒单-已晒单_files/u2_normal.png');
}

.u15_container {
    position:absolute;
    left:511px;
    top:12px;
    width:479px;
    height:35px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:479px;
    height:35px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:475px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../我的晒单-已晒单_files/u4_normal.png');
}

.u17_container {
    position:absolute;
    left:510px;
    top:46px;
    width:480px;
    height:70px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:76px;
}

.u18 {
    position:absolute;
    left:2px;
    top:27px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:702px;
    top:65px;
    width:154px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:520px;
    top:61px;
    width:60px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_text_sketch {
    font-family: '微软雅黑';
}

#u21 {
    position:absolute;
    left:510px;
    top:116px;
    width:485px;
    height:65px
}

.u22_normal {
    background-image: url('../我的晒单-已晒单_files/u9_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:60px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:66px;
}

.u23 {
    position:absolute;
    left:2px;
    top:20px;
    width:236px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../我的晒单-已晒单_files/u11_normal.png');
}

.u24_container {
    position:absolute;
    left:240px;
    top:0px;
    width:240px;
    height:60px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:66px;
}

.u25 {
    position:absolute;
    left:2px;
    top:20px;
    width:236px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../我的晒单-已晒单_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:637px;
    top:200px;
    width:64px;
    height:64px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u27 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:715px;
    top:230px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../我的晒单-已晒单_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:1470px;
    top:306px;
    width:30px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../我的晒单-已晒单_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:20px;
    top:192px;
    width:460px;
    height:238px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:244px;
}

.u32 {
    position:absolute;
    left:2px;
    top:111px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:30px;
    top:206px;
    width:310px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:350px;
    top:210px;
    width:128px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../我的晒单-已晒单_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:31px;
    top:312px;
    width:100px;
    height:100px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u36 {
    position:absolute;
    left:2px;
    top:33px;
    width:96px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../我的晒单-已晒单_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:142px;
    top:312px;
    width:100px;
    height:100px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u38 {
    position:absolute;
    left:2px;
    top:33px;
    width:96px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:30px;
    top:240px;
    width:440px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

